@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Math", sans-serif;
}

html {
  padding: 10vw 10vw;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 6vw;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 2rem;
  border: 1px solid grey;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before {
  background-color: black;
}

.task-creator {
  margin-bottom: 1rem;
}

.task {
  padding: 0.25rem 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
}
