.App {
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-btn {
  padding: 0.25rem;
  font-size: 25px;
}

.led-container {
  display: flex;
}

.led {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border: 2px solid black;
  border-radius: 50%;
}
