* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.modifier {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #897bda;
}

.add-expense-btn,
.add-expense-form-btn,
.update-expense-form-btn {
  padding: 1rem 3rem;
  background-color: #862796;
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.add-expense-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.add-expense-form label {
  padding: 0.5rem;
  color: white;
}

.add-expense-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.add-expense-form-btn,
.update-expense-form-btn {
  padding: 0.5rem;
}

.expense-list {
  background-color: #1a1a1a;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 15px;
}

.expense-list-header {
  padding: 1rem 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-filter {
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.year-filter:focus {
  outline: none;
}

.year-filter option {
  background-color: #fff;
}

.expense-graph {
  padding: 1rem 0;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #e1cae4;
  border-radius: 10px;
}

.expense-tube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expense-tube {
  position: relative;
  height: 10rem;
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #baa5ed;
  overflow: hidden;
}

.expense-tube-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3d15a9;
}

.expense-show {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #575757;
}

.expense-show-date {
  width: 8rem;
  height: 8rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month {
  margin: 0.25rem;
}

.year {
  margin: 0.25rem;
  font-weight: 900;
}

.day {
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
}

.expense-show-description {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-show-name {
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
}

.expense-show-amount {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #862796;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.update-expense-form {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  background-color: #897bda;
  border-radius: 0 0 10px 10px;
}

.update-expense-form label {
  padding: 0.5rem;
  color: white;
}

.update-expense-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.delete-btn {
  background-color: black;
  color: white;
  margin-left: 20px;
}

.cancel-btn {
  margin-left: 20px;
  background-color: #d0d0d0;
  color: #6a6a6a;
  border: 1px solid #862796;
}
